<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Study Thymeleaf</title>
</head>
<body>
	<h1>[[${message}]]</h1>
    <h1>Welcome to the first page using Thymeleaf.</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data nascimento</th>
            <th>Sexo</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>1965-08-09</td>
            <td>Sexo</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>1965-08-09</td>
            <td>Sexo</td>
        </tr>
        
    </table>
</body>
</html>